<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <a href="index.html"><img src="logos/logow.png" style="position: absolute;"></a>
    <nav class="navbar" id="menu">
        <ul>
            <li><a href="about.html" class="link">About Us</a></li>
            <li><a href="team.html" class="link">Meet Our Team</a></li>
            <li><a href="talks.html" class="link">Event Details</a></li>
            <li><a href="ted.html" class="link">About TED and TEDx</a></li>
        </ul>
        <label for="check" class="close-menu" onclick="closemenu()"><i class="fas fa-times"></i></label>
    </nav>
    <label for="check" class="open-menu" onclick="openmenu()"><i class="fas fa-bars"></i></label>
</body>

</html>