<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <footer>
        <div class="footer">
            <div class="col">
                <div class="footer-col-1">
                    <img src="logos/logow.png" style="height: 60px"> <span class="span">© 2023</span>
                    <p>Creating a tangible space for our community to connect, express and share their ideas and visions to
                        ultimately shape the Nation.</p>
                </div>
                <div class="footer-col-2">
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="team.html">Meet Our Team</a></li>
                        <li><a href="talks.html">Watch Our Talks</a></li>
                        <li><a href="ted.html">About TED and TEDx</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <ul>
                        <li><a href="contact.html">Get involved</a></li>
                        <li><a href="contact.html">Be a Sponsor</a></li>
                        <li><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@TED">Watch TED
                                Talks</a></li>
                        <li><a target="_blank" rel="noopener noreferrer"
                                href="https://www.ted.com/about/programs-initiatives/tedx-program">Learn more about TEDx</a>
                        </li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <hr>
                <div class="footer-col-4">
                    <p>This independent TEDx event is operated under a license from TED. © Copyright TEDxWaldrift 2023. All
                        Rights Reserved.</p>
                </div>
    
                <div class="footer-col-5">
                    <a target="_blank" rel="noopener noreferrer" href="privacy.html"><span>Privacy</span></a>
                </div>
            </div>
    </footer>
</body>

</html>